body {
     background-image: url("https://cdn.glitch.global/208e7fd0-286c-45dd-941f-c1b18dec941d/8294f4df-fa55-4f92-a83d-9b487eb51747.image.png?v=1742930354060");
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  margin-top: 10%;
  font-family: Georgia, serif;
}

html{
  height: 100%;
  width: 100%;
}

#myCanvas {
  border: 1px solid black;
   background-image: url("https://cdn.glitch.global/208e7fd0-286c-45dd-941f-c1b18dec941d/8294f4df-fa55-4f92-a83d-9b487eb51747.image.png?v=1742930354060");
background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
}

.container{
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  justify-content: space-around;
  align-items: flex-start;
  padding-bottom: 20px;
}

.pic{
  height: 600px;
  width: 400px;
  object-fit: cover;
  border: 1px solid black;
}

h2{
  color: pink;
}
h3{
  color: pink;
}

#start{
  text-align: left;
}

#end{
  text-align: right;
}